RewriteEngine On
RewriteCond %{HTTPS} !=on
RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI} [R,L]
<?php header(Link: <https://www.filmbasen.dk/>; rel=canonical");?)>
(<%Response.AddHeader(@Link,@< https://www.filmbasen.dk/>; rel="canonical");%)>)